@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Nova+Square&family=Poppins:wght@600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    align-items: center;
    background-color: #181c24;
    margin: 0;
}

.container-hero {
    position: relative;
}

#bg-hero {
    width: 100%;
    height: auto;
}
  
.span-hero {
    position: absolute;
    top: 100px;
    bottom: 0;
    left: 0;
    width: auto;
    font-weight: 600;
    font-family: 'Anton', sans-serif;
    font-family: 'Nova Square', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    padding-left: 850px;
    margin-bottom: 700px;
    color: #ffffff;
    text-align: left;
    z-index: 1;
    letter-spacing: 2px;
    height: auto;
}

.span-hero .blue{
    color: #3498db; /* Warna biru */
}

.span-hero .blue-underline {
    text-decoration: underline;
    text-decoration-color: #3498db; /* Warna biru */
}

.hero-content {
    position: relative;
}
  
nav {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-top: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: auto;
}

nav .logo {
    display: flex;
    align-items: center;
}

nav img {
    max-width: 100%;
    height: 50px;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-right: 20px;
}

nav li {
    margin-right: 20px;
    padding-right: 10px;
}

nav li.button:hover {
    margin-right: 20px;
    padding-right: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    color: #3498db;
}

main {
    max-width: auto;
    text-align: left;
    color: #fff;
    position: relative;
    z-index: 1;
}

.container-content {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
}

.title {
    width: 800px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.subtitle {
    font-size: 36px;
    line-height: 39.60px;
    word-wrap: break-word;
    color: #A2FACF; /* Set color for the subtitle */
}

.blue-text {
    color: #3498db; /* Set color for the blue text */
}

.white-text {
    color: #fff; /* Set color for the white text */
}

.search-container {
    margin-bottom: 10px;
}

.search-input {
    color: #fff; /* Warna teks putih */
    background-color: #383434;
    padding: 8px;
    border: none;
    border-radius: 5px;
    width: 500px;
}

.search-input::placeholder {
    color: #ffffff38;
}

table {
    font-family: 'Poppins', sans-serif;
    background-color: #1f232e;
    color: #fff;
    border-collapse: collapse;
    width: 80%;
    margin-top: 20px;
    border-radius: 10px; 
    overflow: hidden; /* Memastikan agar border-radius diterapkan dengan benar */
}

th, td {
    border-bottom: 1px solid #ffffff1b;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #1f232e;
    border: none;
}

footer {
    /* background-color: #f2f2f2;
    padding: 20px; */
    text-align: center;
    color: #333;
    margin-top: 20px;
}
